<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Generic title{% endblock %}</title>
        <!-- Bootstrap -->
        <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Generate a Django app that allows a 
                        user to create, edit, update, and destroy (delete) users.
                    </h3>
                </div>

                <div class="panel-body">
                    <p>Users should have first name, last name, and email address 
                        fields. First name is required. Email should be a valid email. 
                    </p>
                </div>
            </div>


            <nav class='navbar navbar-inverse'>
                <div class='container-fluid'>

                    <ul class='nav navbar-nav'>

                        <li><a class='navbar-brand' href='{% url 'user-list' %}'>
                            The App
                        </a></li>

                        <li><a href='{% url 'abouttext-list' %}'>
                            About
                        </a></li>

                    </ul>

                    <div class='container-fluid'>
                    <p class="navbar-text navbar-right">a code fellows django project by tlake</p>
                </div>
                </div>
            </nav>


            <div class='page-header'>
                <h1>{% block pagehead %}{% endblock %}</h1>
            </div>


            {% block content %}

                <h1>Generic title</h1>

                Nothing interesting yet

            {% endblock %}

            <div class='btn-group' role='group'>

            </div>

        </div>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    </body>
</html>
