{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Create User{% endblock %}

{% block pagehead %}Create User{% endblock %}

{% block content %}

    <form method="POST">{% csrf_token %}
            {{ form|crispy }}

        <p>Note: Image will be fit to 256x256 pixels.</p>

        <p></p>

        <button class='btn btn-primary' type="submit">
            <span class='glyphicon glyphicon-ok'>
            </span>
            Create
        </button>

        <a class='btn btn-default' href="{% url 'user-list' %}">
            <span class='glyphicon glyphicon-remove'>
            </span>
            Cancel
        </a>

    </form>

{% endblock %}

