{% extends "base.html" %}

{% block title %}User list{% endblock %}

{% block pagehead %}User List{% endblock %}

{% block content %}

    <div class='container'>
        <div class='list-group col-sm-4'>
            {% for object in object_list %}
                <a class='list-group-item' href="{% url 'user-detail' object.id %}">
                    {{ object.firstname }} {{ object.lastname }}
                </a>
            {% endfor %}
        </div>
    </div>

    <a class='btn btn-primary' href="{% url 'user-create' %}">
        <span class='glyphicon glyphicon-plus'>
        </span>
        Add user
    </a>

{% endblock %}
