{% extends "base.html" %}

{% block title %}{{ object.firstname }} {{ object.lastname }}{% endblock %}

{% block content %}

    <h1>{{ object.firstname }} {{ object.lastname }}</h1>

    <p>User ID: {{ object.id }}</p>

    <p>Email: {{object.email }}</p>

    <p>
        <a class='btn btn-info' role="button" href="{% url 'user-edit' object.id %}">
            <span class='glyphicon glyphicon-pencil'>
            </span>
            Edit User
        </a>
        <a class='btn btn-warning' role="button" href="{% url 'user-delete' object.id %}">
            <span class='glyphicon glyphicon-trash'>
            </span>
            Delete User
        </a>
    </p>
    <a class='btn btn-primary' href="{% url 'user-list' %}">
        <span class='glyphicon glyphicon-menu-left'>
        </span>
        Back to list of users
    </a>

{% endblock %}
