{% extends "base.html" %}

{% block title %}{{ object.firstname }} {{ object.lastname }}{% endblock %}

{% block pagehead %}User Detail View{% endblock %}

{% block content %}

    <ul class='list-group'>

        <li class='list-group-item active'>{{ object.firstname }} {{ object.lastname }}</li>
        <li class='list-group-item'>Email: {{object.email }}</li>
        <li class='list-group-item disabled'>User ID: {{ object.id }}</li>

    </ul>

    <p>
        <a class='btn btn-info' role="button" href="{% url 'user-edit' object.id %}">
            <span class='glyphicon glyphicon-pencil'>
            </span>
            Edit User
        </a>
        <a class='btn btn-warning' role="button" href="{% url 'user-delete' object.id %}">
            <span class='glyphicon glyphicon-trash'>
            </span>
            Delete User
        </a>
    </p>
    <a class='btn btn-primary' href="{% url 'user-list' %}">
        <span class='glyphicon glyphicon-menu-left'>
        </span>
        Back to list of users
    </a>

{% endblock %}
