{% extends "base.html" %}

{% block title %}Delete User{% endblock %}

{% block pagehead %}
    Delete User
{% endblock %}

{% block content %}

    <div class='alert alert-danger' role='alert'>
        Really delete {{ object.firstname }} {{ object.lastname }}?
        They will be <strong>permanently lost</strong> and <strong>gone forever!</strong>
    </div>

    <form method="post">{% csrf_token %}
        
        <span class='btn btn-group' role='group'>

            <a class='btn btn-default' href="{% url 'user-detail' object.id %}">
                <span class='glyphicon glyphicon-remove'>
                </span>
                Cancel
            </a>

            <button class='btn btn-danger' type="submit">
                <span class='glyphicon glyphicon-trash'>
                </span>
                Delete
            </button>

        </span>

    </form>

{% endblock %}

